@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader-primary {
  color: theme('colors.text-primary');
}

* {
  scrollbar-width: thin;
  scrollbar-color: #52525b #27272a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track, #00000000);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb, #52525b);
  border-radius: 10px;
  border: 1px solid #00000000;
  background-clip: padding-box;
}

